<!DOCTYPE html>
<html>
<head>
<title>System Diagram dashboard</title>

<link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="system.css">
<script src="jquery-2.1.1.min.js"></script>
<script src="raphael-min.js"></script>
<script src="underscore-min.js"></script>
<script src="sequence-diagram-min.js"></script>

<script src="d3.min.js"></script>
<script src="graphlib-dot.js"></script>
<script src="dagre-d3.js"></script>
<!-- BASED ON:  http://cpettitt.github.io/project/dagre-d3/latest/demo/interactive-demo.html -->
<script type="text/javascript">

var socket = new WebSocket("ws://localhost:{{port}}/diagram_ws");

socket.onmessage = function(event) {
var d=event.data;
var d=JSON.parse(event.data)["graph"];
// tryDraw('digraph {A -> B -> C;B -> D;D -> E;C -> E;A -> D;F -> J;E -> J;}');
tryDraw(d);
}

</script>
</head>

<body >
<h1> Drawing systems: listening port {{webapp-port}} </h1>
<div><button id="r">reset!</button></div>
<div id="current">
</div>

<div id="diagram"></div>
<script>


function tryDraw(v) {


  var g;
  if (v) {

// Create and configure the renderer
var render = dagreD3.render();

    try {
      g = graphlibDot.read(v);
    } catch (e) {
      throw e;
    }

    // Set margins, if not present
    if (!g.graph().hasOwnProperty("marginx") &&
        !g.graph().hasOwnProperty("marginy")) {
      g.graph().marginx = 20;
      g.graph().marginy = 20;
    }

    g.graph().transition = function(selection) {
      return selection.transition().duration(500);
    };

    // Render the graph into svg g

$("#current").append("<svg width=800 height=600><g/></svg>");
// Set up zoom support
var svg = d3.select("div svg"),
inner = d3.select("div svg g"),
zoom = d3.behavior.zoom().on("zoom", function() {
inner.attr("transform", "translate(" + d3.event.translate + ")" +
"scale(" + d3.event.scale + ")");
});
svg.call(zoom);

d3.select("#current svg g").call(render, g);
$("#diagram").prepend($("#current svg"));
$("#diagram").prepend("<hr>");


  }
}
</script>
<script>
$("#r").click(function() {
 $("#diagram").empty();
});
</script>


<script src="bootstrap.min.js"></script>
</body>
</html>
