<!DOCTYPE html>
<html>
<head>
<title>Sequence Diagram Dashboard</title>
<script src="jquery-2.1.1.min.js"></script>
<script src="raphael-min.js"></script>
<script src="underscore-min.js"></script>
<script src="sequence-diagram-min.js"></script>
<link rel="stylesheet" href="bootstrap.css">



<script type="text/javascript">
var socket = new WebSocket("ws://localhost:{{port}}/diagram_ws");
socket.onmessage = function(event) {
var d=JSON.parse(event.data)["sequence"];
if(d){
var c = $("#diagram").html();
$("#diagram").empty();
var diagram = Diagram.parse(d);
diagram.drawSVG('diagram',{theme: 'simple'});
$("#diagram").append("<hr>"+c);
}
}
</script>
</head>

<body>
<h1> Listening port {{webapp-port}} </h1>
<div><button id="r">reset!</button></div>
<div id="diagram"></div>
<script>
$("#r").click(function() {
 $("#diagram").empty();
});
</script>
<script src="bootstrap.min.js"></script>
</body>
</html>
